*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: "Poppins";
}
html, body{
   height : 155vh;
    width : 100%;
    padding-top : 15px;
    padding-bottom : 15px;
    background-color: rgb(7, 7, 7);
}
.grid-container{
    height : 99%;
    width : 100%;
    display : grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 33% 33% 33%;
    gap : 10px;
    grid-template-areas: 
    "box-1 box-2 box-3 box-4"
    "box-5 box-6 box-3 box-4"
    "box-5 box-6 box-7 box-7";
    justify-content : center;
}
.divs{
    height: 100%;
    width : 100%;
    border-radius : 30px;
    background-color: rgb(24, 24, 24);
}
#sixth-div{
    display : flex;
    flex-direction : column;
    gap : 10px;
    background-color: black;
}
.box1{
    height : 45%;
    width : 100%;
   /* background-color: rgb(231, 63, 63); */
    border-radius : 20px;
    display : flex;
    flex-direction: column;
    align-items:self-start;
    justify-content: space-between;
    padding : 30px;
    background-color: rgb(24, 24, 24);
    color : black;
}
.box2{
    height : 25%;
    width : 100%;
    border-radius : 20px;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color : white;
}
#div1{
     display : flex;
    align-items: center;
    justify-content: center;
}
.image1{
    height : 95%;
    width : 95%;
    overflow: hidden;
}
.image1 img{
    border-radius : 15px;
    height : 100%;
    width : 100%;
}
.box3{
    padding : 20px 15px;
    height : 30%;
    width : 100%;
    background-color: rgb(187, 244, 100);
    border-radius : 20px;
    display: flex;
    align-items: center;
    gap : 30px;
    color : white;
}
.appName_arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color : white;
}
.appName_arrow i{
    font-size : 40px;
    color : rgb(24, 24, 24);
}
.appName_arrow h4{
    color : rgb(24, 24, 24);
}
.box3 img{
    height : 75px;
    width : 75px;
}
.text p{
    font-size : 12px;
    color : black;
}
#fourth-div{
    display: flex;
    flex-direction: column;
    gap : 10px;
    justify-content: space-around;
    color : white;
    background-color: black;
}
.BOX1{
    padding: 20px;
    height : 30%;
    width : 100%;
    background-color: rgb(144, 66, 245);
    border-radius : 20px;
    display: flex;
    align-items : center;
    justify-content: space-between;
    gap : 20px;
    color : white;
}
.text1{
    height: 60%;
    display : flex;
    align-items: center;
    gap : 10px;
    border-right: 1px solid rgb(197, 195, 195);
    padding-right : 12px;
    color : white;
}
.text1 p{
    font-size : 10px;
}
.text1 i{
    font-size : 42px;
    color : white;
}
.text2{
    display : flex;
    align-items: center;
    gap : 10px;
}
.text2 p{
    font-size : 10px;
}
.text2 i{
    font-size : 42px;
}
.BOX2{
    height : 60%;
    width : 100%;
    background-color: rgb(24, 24, 24);
    border-radius : 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image2{
    height : 95%;
    width : 95%;
    overflow: hidden;
}
.image2 img{
    border-radius : 10px;
    height : 100%;
    width : 100%;
}
#fifth-box{
    border : 2px solid rgb(187, 244, 100);
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: space-around;
    color : white;
    background-color: black;
}
.heading1{
    padding-top : 20px;
    padding-inline: 10px;
    height : 50%;
    width : 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-bottom : 1px solid gray;
}
.heading1 h1{
    font-size: 60px;
    font-weight : 900;
    transform: scaleY(2.3); /* 1 = normal, >1 = wider, <1 = narrower */
    display: inline-block;
    line-height: 140px;
}
.heading1 h5{
    line-height: 20px;
    letter-spacing: 4px;
    color : rgb(152, 78, 249);
}
.heading2{
    height : 40%;
    width : 100%;
    padding : 10px;
    display : flex;
    align-items: center;
    justify-content: space-between;
    gap : 15px;
}
.images{
    height : 30%;
    width : 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images #img3{
    height : 70%;
    width : 100%;
}
#fifth-box #img2{
    height : 75px;
    width : 70px;
}
#div2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1{
    padding : 16px;
    height: 85%;
    width: 85%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle2{
    padding : 5px;
    height: 74%;
    width: 65%;

    border-radius: 50%;
    border: 2px solid rgb(201, 250, 127);

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;
}

.circle2 img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.text-circle{
    padding : 5px;
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
}

.text-circle text{
    fill: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}
.nav{
    padding : 15px;
    height : 75%;
    width: 100%;
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    align-items: start;
    color : white;
}
.nav p{
    font-size : 18px;
    font-weight :300;
}
.nav i{
    font-size: 26px;
}
.nav .div{
    width : 100%;
    display : flex;
    gap : 15px;
    align-items: center;
    color : white;
}
.contacts{
    height: 25%;
    width : 88%;
    border-top: 1px solid rgb(54, 53, 53);
    padding : 15px;
    display : flex;
    gap : 15px;
    align-items: center;
    color : white;
}
.contacts i{
    font-size : 26px;
}
.contacts p{
    font-size : 18px;
    font-weight :300;
}
#third-div{
    padding : 10px;
    display : flex;
    flex-direction: column;
    gap : 20px;
    color : white;
}
.map{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap : 10px;
}
.map i{
    font-size : 26px;
    color :rgb(24, 24, 24)
}
.map-color{
    padding : 7px 10px;
    border-radius: 100%;
    background-color: rgb(187, 244, 100);
}
.box1 p{
    color: rgb(169, 167, 167);
}
.box1 h2{
    font-size : 20px;
    color : white;
}
.box1 h4{
    font-size : 12px;
    color: rgb(169, 167, 167);
}
.box2 i{
    font-size : 70px;
}

#seventh-div{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 40px;
    background-color: rgb(252, 255, 240);
}
#seventh-text h1{
    font-size : 20px;
    color : black;
}
#seventh-div img{
    height : 170px;
}
.seventh-text{
    height : 100%;
    width : 50%;
    display : flex;
    flex-direction: column;
    align-items:self-start;
    justify-content: space-between;
}
.reviews{
    height : 100%;
    width : 50%;
    display : flex;
    flex-direction: column;
    align-items:self-end;
    justify-content: space-between;
    gap : 18px;
}
.reviews h1{
    font-size : 60px;
}
.reviews button{
    display : flex;
    align-items: center;
    gap : 36px;
    padding : 10px 30px;
    border-radius : 14px;
    border : none;
    outline : none;
    background-color: rgb(116, 17, 247);
    cursor : pointer;
}
.reviews button p{
    font-size : 16px;
    color : white;
}
.reviews button i{
    font-size : 26px;
    color : white;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.heading p{
    font-size : 24px;
}