*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    font-weight : 400;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.logo span {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 70px;
  height: 10px;
  background: rgb(232, 60, 60);
  border-radius: 5px;
  transform-origin: center;
}

/* Horizontal */
.logo span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg);
}

/* Vertical */
.logo span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* Diagonal 1 */
.logo span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Diagonal 2 */
.logo span:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-45deg);
}


#screen{
    width : 100%;
    height : 100vh;
    padding-left : 30px;
    padding-right : 30px;
    padding-top: 56px;
    background : #e5e5e5;
    position : relative;
    display : flex;
    /* align-items: center; */
    gap: 10px;
    flex-direction : column;
    justify-content: space-around;
}
#heading{
    display : flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}
#heading-01{
    width : 100%;
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    gap : 260px;
   letter-spacing: -1px;
}

#title{
    display : flex;
    flex-direction : column;
    align-items: left;
    width : 900px;
    font-size : 28px;
    line-height: 1;
    letter-spacing: -1px;
}
#title1{
    text-align :left;
    color :rgb(125, 19, 24);
}
.line2{
     color :rgb(125, 19, 24);
}
#title2{
    text-align : right;
}
#title3{
    display: flex;
    flex-direction: column;
    align-items : center;
    padding-left: 90px;
}
#title p{
    font-size : 10px;
    width : 300px;
}
#title3 p{
    padding-top : 12px;
    text-align: start;
}
#title2 img{
    width : 64px;
    height : 36px;
    border-radius : 30px;
}
#images{
    padding-top : 20px;
    position: relative;
    display: flex;
    align-items :end;
    justify-content: end;
    gap : 15px;
}
#images img{
    width : 205px;
    height : 250px;
    border-radius : 10px;
}
#paragraph{
    padding-top : 17px;
    font-size: 14px;
    padding-left : 20px;
    width : 350px;
    text-align : left;
    color :rgb(125, 19, 24);
}
#heading-02{
    padding-top : 64px;
    display :flex;
    flex-direction: column;
    align-items: center;
    gap : 10px;
     font-size : 28px;
    line-height: 1;
    letter-spacing: -1px;
    color :rgb(125, 19, 24);
}
#heading-02 p{
    width : 380px;
    text-align: center;
    font-size : 14px;
    padding-bottom : 20px;
}
#heading-02 h1{
    text-align : center;
}
#right-content{
    width : 100px;
    text-align: right;
    color :rgb(125, 19, 24);
}
#redcolor{
    color :rgb(138, 27, 32);
}
#offbrown{
    color :rgb(160, 138, 138);
}
#bottom{
    display: flex;
    flex-direction : column;
    align-items: center;
}
#headline1{
    display : flex;
    flex-direction : row;
    gap : 15px;
}
#headline2{
    display : flex;
    flex-direction : row;
    gap : 15px;
}